<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">PLANE TICKETS</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      {% for t in ticket_types %}
      <li class="nav-item">
        <a class="nav-link" href="/flight-list?type={{t.id}}">{{t.typeName}}</a>
      </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" href="/flight-list">Booking Online</a>
      </li>

      {% if customer_acc %}
      <li class="nav-item">
        <a class="nav-link text-danger" href="/">{{customer_acc.customerName}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link text-info" href="/login">Login</a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link text-danger" href="/cart">Cart <span class="badge badge-info" id="cartCounter">{{cart_stats.total_quantity}}</span></a>
      </li>
    </ul>
  </div>

  <form class="form-inline" action="/flight-list">
    <input class="form-control mr-sm-2" name="kw" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>