*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    outline : none;
}
h2{
text-align :center;
padding : 10px;
font-size : 30px;
color : #1b223c;
}

.form{
    margin :0 100px;
}
.form-group{
    color : #000000;
}
.topic-table{
    padding : 10px 30px 10px;
    background-color : #add8de;
    margin :0 auto;
    width : 100%;
    font-size : 15px;
}

/*CSS.TABLE*/
.table-fixed thead th{
    text-align : center;
    padding : 5px 0;

}
.table-fixed{
    min-width : 100%;
}
.table-fixed thead,
.table-fixed thead th{
    background: #1b223c;
    color : white;
}

.table-fixed tbody td,
.table-fixed thead th {
    font-size : 15px;
    text-align : center;
}

.table-fixed tbody td{
    float : left;
    display: block;
}

.table-fixed .col1{
    width : 5%;
    height: 20%;
}
.table-fixed .col2{
    width : 18%;
    height: 20%;
}
.table-fixed .col3{
    width : 19%;
    height: 20%;
}
.table-fixed .col4{
    width : 20%;
    height: 20%;
}
.table-fixed tbody {
    display : block;
    height : 250px;
    overflow-y :auto;
    color : #1b223c;
}
.table-fixed tr{
    display: block;
}
